@import url('https://fonts.googleapis.com/css2?family=Jua&family=Poor+Story&display=swap');

button{
  display : inline-block;
  background-color : white;
  color : #254460;
  width : 283px;
  height : 46px;
  text-align : center;
  text-decoration : none;
  border : 1px solid #9FAC9A;
  border-radius : 5px;
  box-shadow : 0px 3px 6px;

  position : relative;
  cursor : pointer;
  transition : all 0.9s;
}

button:hover{
  background-color: #254460;
  color : white;
}

button:before{
  left : 50%;
  top : 0;
  transform : translateX(-50%);
  width : 0;
  height : 100%;
}

button:hover:before{
  width : 100%;
}
