@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
a{
  font-weight: bolder;
}

.background{
  position:relative;
  z-index:0;
  width:100%;
  height:250px;
  object-fit: fill;
}

.logo{
  position:absolute;
  z-index:1;
  height: 230px;
  left : 10px;
  top : 20px;
}

.menu_container{
  text-align:center;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

dt{
  padding: 10px;
  border-bottom: #CFCCBD 2px solid;
  width:80%;
  display: inline-flex;
}

a{
  font-size: 20px;
}

#open_close{
  background-color: white;
  color: #314F37;
  border:none;
  border-bottom: #CFCCBD 2px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: -5px;
  font-weight: bolder;
  font-size: 20px;
}




@media (min-width: 320px) and (max-width: 480px){
  .background{
    position:relative;
    z-index:0;
    width:100%;
    height:160px;
    object-fit: fill;
  }

  .logo{
    height: 130px;
    position:absolute;
    z-index:1;
    left : 10px;
    top:15px;
  }
}
