@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');


.menu_container{
  text-align:center;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

dt{
  padding: 10px;
  border-bottom: #CFCCBD 2px solid;
  width:80%;
  display: inline-flex;
  font-weight: bolder;
  font-size: 20px;
  color:#314F37;
  text-decoration:none;
}

.open_close{
  background-color: white;
  color: #314F37;
  border:none;
  border-bottom: #CFCCBD 2px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: -5px;
  font-weight: bolder;
  font-size: 20px;
}
